{% extends "base.html" %}

{% load account %}

{% block title %}Sign In{% endblock %}

{% block content %}

    <div class="container">
        <h1>Sign In</h1>
        <p>If you have not created an account yet, then please <a href="{{ signup_url }}">sign up</a> first.</p>
        <form method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
                <input type="hidden"  class="form-control" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button class="btn btn-md btn-primary" type="submit">Sign in!</button>
        </form>
        <p>
            <a href="{% url 'account_reset_password' %}">Forgot Password?</a>
        </p>
    </div> <!-- /container -->

{% endblock %}
