{% extends "base.html" %}

{% load account %}

{% block title %}Sign Out{% endblock %}

{% block content %}
'
    <div class="container">
        <h1>Sign Out</h1>
        <p>Are you sure you want to sign out?</p>
        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button type="submit" class="btn btn-danger">Sign Out</button>
        </form>
    </div>


{% endblock %}
