{% extends "base.html" %}

{% load account %}

{% block title %}Change Password{% endblock %}

{% block content %}

    <div class="container">
        <h1>Change Password</h1>
        <form method="post" action="{% url 'account_change_password' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
    </div>


{% endblock %}
