{% extends "base.html" %}

{% load account %}

{% block title %}Signup{% endblock %}

{% block content %}

    <div class="container">
        <h1>Sign Up</h1>
        <p>Already have an account? Then please <a href="{{ login_url }}">sign in</a>.</p>
        <form method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button class="btn btn-md btn-primary" type="submit">Sign Up!</button>
        </form>
    </div> <!-- /container -->

    

{% endblock %}
