.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    margin-bottom: 10px;
    padding: 0px 10px;
    border: none;
    background-color: #fff;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd) .thumbnail
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item .images {
    display: none;
}

.item.list-group-item .price {
    width: 100%;
    float: right;
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}
.images{
    display:inline-block;
    width:100%;
    overflow:hidden;
    vertical-align:top
}
.imageContainer{
    height: 240px; /* 4:3 aspect ratio */ 
    bottom: 0px;
}
.imageContainer img{
    text-align: center;
    width: auto;
    position: relative;
}

.datepicker {
    position: relative;
}