{% extends 'base.html' %}
{% block content %}
    <div class="container">
		<div class="well well-sm">
			<strong>Select View:</strong>
			<div class="btn-group">
				<a href="#" id="list" class="btn btn-default btn-sm">List</a>
				<a href="#" id="grid" class="btn btn-default btn-sm">Grid</a>
			</div>
			<div class="pull-right">
				<a href="#filters" class="btn btn-default btn-sm" data-toggle="collapse" >Show filters</a>
			</div>
			<div id="filters" class="collapse">
				<strong>Filtering</strong>
				<form id="filter" action="{{ request.path }}" method="get">
					<div class="row">
						<div class="col-md-4 form-horizontal">
							<div class="form-group">
								<label for="{{ filter.car_name.id_for_label }}" class="col-md-4 control-label">Name</label>
								<div class="col-md-8">
									{{ filter.car_name }}
								</div>
							</div>
							<div class="form-group">
								<label for="{{ filter.car_type.id_for_label }}" class="col-md-4 control-label">Type</label>
								<div class="col-md-8">
									{{ filter.car_type }}
								</div>
							</div>
							<div class="form-group">
								<label for="{{ filter.engine_type.id_for_label }}" class="col-md-4 control-label">Engine type</label>
								<div class="col-md-8">
									{{ filter.engine_type }}
								</div>
							</div>
							<div class="form-group">
								<label for="{{ filter.min_rating.id_for_label }}" class="col-md-4 control-label">Minimal rating</label>
								<div class="col-md-8">
									{{ filter.min_rating }}
								</div>
							</div>
						</div>
						<div class="col-md-4 form-horizontal">
							<div class="form-group">
								<label for="{{ filter.price_from.id_for_label }}" class="col-md-4 control-label">Price from</label>
								<div class="col-md-8">
									{{ filter.price_from }}
								</div>
							</div>
							<div class="form-group">
								<label for="{{ filter.price_to.id_for_label }}" class="col-md-4 control-label">Price to</label>
								<div class="col-md-8">
									{{ filter.price_to }}
								</div>
							</div>
							<div class="form-group">
								<label for="{{ filter.start_date.id_for_label }}" class="col-md-4 control-label">Start date</label>
								<div class="col-md-8">
									{{ filter.start_date }}
								</div>
							</div>
							<div class="form-group">
								<label for="{{ filter.end_date.id_for_label }}" class="col-md-4 control-label">End date</label>
								<div class="col-md-8">
									{{ filter.end_date }}
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								{{ filter.accessories.label_tag }}
								{{ filter.accessories }}
							</div>
						</div>
					</div>
					<input type="submit" value="Filter" class="btn btn-default btn-sm" />
					<button type="button" class="btn btn-default btn-sm" onclick="clearFilters()">Clear</button>
				</form>
			</div>
		</div>
		<div id="cars" class="row list-group">
			{% if car_list %}
				{% for car in car_list %}
					<div class="item  col-xs-4 col-lg-4">
						<div class="thumbnail">
							<div class="images">
								<div class="imageContainer">
									<a><img class="group list-group-image" {% if car.car_image %} src="/{{ car.car_image }}"  {% else %} src="/static/static/js/npm.js" {% endif %}/></a>
								</div>
							</div>
							<div class="caption">
								<h3 class="group inner list-group-item-heading">
									{{ car.producer }} {{ car.model }} ({{ car.car_type }})
								</h3>
								<p class="group inner list-group-item-text">
									{{ car.engine_capacity }}cm<sup>3</sup><br> {{ car.engine_horsepower }}KM
								</p>
								<div class="row">
									<div class="col-xs-12 col-md-4">
										<p class="lead">
											{{car.rent_cost}}zł
										</p>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-md-6">
										<a class="btn btn-info btn-block" href="{% url 'main:car_detail' car.pk %}" role="button">Show details &raquo;</a>
									</div>
									<div class="col-xs-12 col-md-6">
										<a class="btn btn-success btn-block" href="{% url 'main:rent_create' car.pk %}?ref={{ request.path }}" role="button">Create order &raquo;</a>
									</div>
								</div>
								<p></p>
							</div>
						</div>
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>
{% endblock %}

{% block extra_body %}
<script type="text/javascript">
    function clearFilters() {
        $("#id_car_name").val("");
        $("#id_car_type").val("");
        $("#id_engine_type").val("");
        $("#id_accessories").val("");
        $("#id_price_from").val("");
        $("#id_price_to").val("");
        $("#id_start_date").val("");
        $("#id_end_date").val("");
        $("#id_min_rating").val("");
        $("#filter").submit();
    }
</script>
{% endblock %}
