{% extends 'base.html' %}
{% block content %}
	<div class='container'>
		<div class='row'>
			<div class='col-md-4'>
				<h2>Details of car</h2>
				<h3><label class="label label-success">Average rating: {{rating.rating__avg}}</label>
                </h3>

                <h3>Car parameters:</h3>
                <table class='table'>
					<tr>
						<th>Parameter name</th>
						<th>Parameter value</th>
					</tr>
					<tr>
						<td>ID</td>
						<td>{{ car.pk }}</td>
					</tr>
					<tr>
						<td>Car type</td>
						<td>{{ car.car_type.name }}</td>
					</tr>
					<tr>
						<td>Engine type</td>
						<td>{{ car.engine_type.name }}</td>
					</tr>
					<tr>
						<td>Producer</td>
						<td>{{ car.producer }}</td>
					</tr>
					<tr>
						<td>Engine capacity</td>
						<td>{{ car.engine_capacity }}</td>
					</tr>
					<tr>
						<td>Engine horsepower</td>
						<td>{{ car.engine_horsepower }}</td>
					</tr>
					<tr>
						<td>Number of seats</td>
						<td>{{ car.seats_quantity }}</td>
					</tr>
					<tr>
						<td>Number of doors</td>
						<td>{{ car.doors_quantity }}</td>
					</tr>
					<tr>
						<td>Load capacity</td>
						<td>{{ car.load_capacity }}</td>
					</tr>
					<tr>
						<td>Production year</td>
						<td>{{ car.production_year }}</td>
					</tr>
					<tr>
						<td>VIN number</td>
						<td>{{ car.vin_number }}</td>
					</tr>
					<tr>
						<td>Rent cost</td>
						<td>{{ car.rent_cost }}</td>
					</tr>
					<tr>
						<td>Order</td>
						<td><a href="{% url 'main:rent_create' car.pk %}?ref={{ request.path }}">Create order</a></td>
					</tr>
				</table>
				<h3>Car accessories</h3>
				<ul>
					{% for accessory in accessories %}
					<li>{{ accessory.name }}</li>
					{% endfor %}
				</ul>
				<a href="{{request.META.HTTP_REFERER}}">Go back</a>
			</div>
			<div class='col-md-8'>
				<div class='row block-center'>
					<img {% if car.car_image %} src="/{{ car.car_image }}"  {% else %} src="/static/static/js/npm.js" {% endif %} class="imgFit col-md-8 img-responsive images" alt="" >
				</div>
        <div class="row">&nbsp;</div>
    		<div class='row block-container'>
					<div class="col-md-12">
						<form action="add_comment" method="POST" class="form-horizontal">
							<div>
								{% csrf_token %}
								{{ form.non_field_errors }}
								{{ form.car_id }}
							</div>
							<div class='col-md-10'>
								{{ form.content }}
							</div>
							<button class="btn btn-md btn-primary cols-md-2" type="submit">Add comment</button>
						</form>
					</div>
				</div>
				<div class="row">&nbsp;</div>
				{% for comment in car.comment_set.all %}
					<div class='img-rounded content-box'>
						<div class='row-fluid'>
							<div class='col-md-1'>
								<h1 aria-hidden='true' {% if comment.comment_status %} class="glyphicon glyphicon-ok-sign"  {% else %}  class="glyphicon glyphicon-question-sign" {% endif %} ></h1>
							</div>
							<div>
							<div class='col-md-8'>
								<strong> {{comment.user}} </strong>
							</div>
							<div class='col-md-3'>
								<small> {{comment.date | default_if_none:""}} </small>
							</div>
						</div>
						<div class='row'>
							<blockquote>{{comment.content}}
								<div class="row">&nbsp;</div>
							</blockquote>
						</div>
				{% endfor %}
				</div>
			</div>


		</div>
	</div>
{% endblock %}
