{% extends 'base.html' %}
{% block content %}
    <div class="container">
    <h1>
        My rents history
    </h1>
		<div id="cars" class="row list-group">
		    {% if my_rented_car_list %}
            {% if is_paginated %}
                <div class="pagination">
                     <ul class="pagination">
                         {% for i in page_obj.paginator.page_range %}
                            <li {%if page_obj.number == i%}class="active"{%endif%}><a href="/history/list/{{i}}">{{i}}</a></li>
                         {%endfor%}
                     </ul>
                </div>
            {% endif %}
				{% for rent in my_rented_car_list %}
					<div class="row">
							<div class="col-md-4">
								<div class="imageContainer">
									<a><img class="group list-group-image" style="width:100%" {% if rent.car.car_image %} src="/{{ rent.car.car_image }}"  {% else %} src="/static/static/js/npm.js" {% endif %}/></a>
								</div>
							</div>
							<div class="col-md-4">
								<h3 class="group inner list-group-item-heading">
									{{ rent.car.producer }} {{ rent.car.model }} ({{ rent.car.car_type }})
								</h3>
                            	<p class="group inner list-group-item-text">
									{{ rent.car.engine_capacity }}cm<sup>3</sup><br> {{ rent.car.engine_horsepower }}KM
								</p>
								<div class="row">
									<div class="col-xs-12 col-md-4">
										<p class="lead">
											{{rent.car.rent_cost}}zł
										</p>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-md-6">
										<a class="btn btn-info btn-block" href="{% url 'main:car_detail' rent.car.pk %}" role="button">Show details &raquo;</a>
									</div>

                                    {%if rent.is_start_past_or_today %}
									{% if user.is_authenticated %}


                     <form action="/carRate/" method="post">
                     {% csrf_token %}
                    <input type="hidden" name="car" value="{{rent.car.id}}">
                    <input type="hidden" class="form-control rate-input" name="rate" onchange="this.form.submit()">
                     <div class="col-xs-12 col-md-6 btn-group">
                         <button style ="width:100% " type="button" class="btn
                          {% for rate in rent.car.rating_set.all %}
                            {% if rate.user.id == user.id %}
                            {% if rate.rating > 8 %}
                             btn-success
                            {% elif rate.rating > 6 %}
                            btn-primary
                            {% elif rate.rating > 4 %}
                            btn-info
                            {% elif rate.rating > 2 %}
                            btn-warning
                            {% elif rate.rating >= 0 %}
                            btn-danger
                            {% endif %}
                            {% endif %}
                        {% endfor %}
                          dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                             Rating:
                         {% for rate in rent.car.rating_set.all %}
                            {% if rate.user.id == user.id %}
                             {{ rate.rating }}
                            {% endif %}
                        {% endfor %}
                             <span class="caret"></span>
                        </button>
                         <ul class="dropdown-menu" role="menu">
                             {% with '0 1 2 3 4 5 6 7 8 9 10' as list %}
                             {% for i in list.split %}
                                <li><a class = "change-rate" href="#">{{ i }}</a></li>
                             {% endfor %}
                             {% endwith %}
                         </ul>
                     </div>
                     </form>
            {% endif%}
                                    {%endif%}
									{%if rent.can_be_cancelled %}
									<div class="col-xs-12 col-md-6">
										<a class="btn btn-success btn-block" href="{% url 'main:rent_delete' rent.pk %}" role="button">Cancel reservation</a>
									</div>
                                    {%endif%}
								</div>
								<p></p>
							</div>
                            <div class="col-md-4">
								<h3 class="group inner list-group-item-heading">
									From: {{ rent.start_date }}<br/>
                                    To: {{ rent.end_date }}<br/>
                                    <b>Total: {{rent.rent_cost}}zł</b>
								</h3>
                                {% if rent.is_end_future_or_today and rent.is_start_past_or_today %}
                                    <h4><span class="label label-success"><i class="fa fa-exclamation-circle fa-pulse"></i> Currently rented</span></h4>
                                {% endif %}
                            </div>
					</div>			
				{% endfor %}
                {% if is_paginated %}
                <div class="pagination">
                     <ul class="pagination">
                         {% for i in page_obj.paginator.page_range %}
                            <li {%if page_obj.number == i%}class="active"{%endif%}><a href="/history/list/{{i}}">{{i}}</a></li>
                         {%endfor%}
                     </ul>
                </div>
            {% endif %}
			{% endif %}			
		</div>
	</div>
{% endblock %}


{% block extra_body %}
<script type="text/javascript">
$( document ).ready(function() {
    $(".change-rate").click( function(event){
    var x = $(event.target).text();
    $(event.target).parents(".row").first().find(".rate-input").first().val(x);
    $(event.target).parents(".row").first().find("form").submit();
    });
});
</script>
{% endblock %}
