{% extends 'base.html' %}

{% block content %}

	<div class='container'>
		<h2>Rent a car</h2>
		<h3>Car parameters</h3>
		<p>
			{{ car }}
			{# Car parameters here... #}
		</p>
	
		<h3>Rent form</h3>
		<form action="" method="POST" class="form-horizontal">
			{% csrf_token %}
			{{ form.non_field_errors }}
			<div class="form-group">
				{{ form.start_date.errors }}
				<label for="{{ form.start_date.id_for_label }}" class="col-sm-2 control-label">Start date:</label>
                <div class='input-group date datepicker col-sm-3'>
                    {{ form.start_date }}
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
            </div>

			<div class="form-group">
				{{ form.end_date.errors }}
				<label for="{{ form.end_date.id_for_label }}" class="col-sm-2 control-label">End date:</label>
                <div class='input-group date datepicker col-sm-3'>
                    {{ form.end_date }}
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
            </div>

			<button class="btn btn-md btn-primary" type="submit">Purchase!</button>
		</form>
		<a href="{{ request.GET.ref }}" >Go back</a>
	</div>

{% endblock %}
