<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Rental House</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/static/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="font-awesome-animation.min.css">


    <!-- Custom styles for this template -->
    <link href="/static/static/css/jumbotron.css" rel="stylesheet">
    <link href="/static/static/css/custom.css" rel="stylesheet">
    <link href="/static/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
  </head>

  <body>
      <div class="container">
        <nav class="navbar navbar-default">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Rental House</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li><a href="/about/">About</a></li>
          </ul>
          <form class="navbar-form navbar-right">         
            {% if user.is_superuser %}
				<b>Hello, {{ user }}!     </b>   
				<a href="{% url 'admin:index' %}" type="button" class="btn btn-default">Admin panel</a> 
				<a href="/history/list" type="button" class="btn btn-default">My history</a>   
                <a href="{% url 'account_logout' %}" type="button" class="btn btn-default">Sign out</a>
                <a href="{% url 'account_change_password' %}" type="button" class="btn btn-default">Change password</a>
	    	{% elif user.is_authenticated %}
				<b>Hello, {{ user }}!     </b>              
                <a href="/history/list" type="button" class="btn btn-default">My history</a>
                <a href="{% url 'account_logout' %}" type="button" class="btn btn-default">Sign out</a>
                <a href="{% url 'account_change_password' %}" type="button" class="btn btn-default">Change password</a>
            {% else %}
              	<a href="{% url 'account_login' %}" type="button" class="btn btn-default">Sign In!</a>
              	<a href="{% url 'account_signup' %}" type="button" class="btn btn-default">Sign Up!</a>
            {% endif %}   
          </form>
        </div>
      </nav>
    </div>
          <div class="container">
            {% if messages %}
            <div class='row'>
              <div class = 'col-sm-12'>
                  {% for message in messages %}
                    <p
                        {% if message.tags == "debug" %} class="alert alert-info" 
                        {% elif message.tags == "info" %} class="alert alert-info" 
                        {% elif message.tags == "warning" %} class="alert alert-warning" 
                        {% elif message.tags == "error" %} class="alert alert-danger" 
                        {% elif message.tags == "success" %} class="alert alert-success"
                        {% endif %}
                      >                
                      {{ message }}
                    </p>
                  {% endfor %}
              </div>
            </div>
            {% endif %}
          </div>
      {% block content %}{% endblock %}

    <script src="/static/static/js/jquery-2.1.4.min.js"></script>
    <script src="/static/static/js/bootstrap.js"></script>
    <script src="/static/static/js/collapse.js"></script>
    <script src="/static/static/js/transition.js"></script>
    <script src="/static/static/js/moment.min.js"></script>
    <script src="/static/static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/static/js/npm.js"></script>
    <script src="/static/static/js/custom.js"></script>

	  {% block extra_body %}{% endblock %}
  </body>
</html>
